body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@font-face {
	font-family: 'Courgette', cursive;
	src: local('Courgette'), url(./Fonts/Courgette-Regular.ttf) format('truetype');
}
.menu-primary-enter {
	transform: translateX(-110%);
}
.menu-primary-enter-active {
	transform: translateX(0%);
	transition: all 0.5s ease;
}
.menu-primary-exit {
	position: absolute;
}
.menu-primary-exit-active {
	transform: translateX(-110%);
	transition: all 0.5s ease;
}

.menu-secondary-enter {
	transform: translateX(110%);
}
.menu-secondary-enter-active {
	transform: translateX(0%);
	transition: all 0.5s ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
	transform: translateX(110%);
	transition: all 0.5s ease;
}

.addCard-primary-enter {
	transform: translateY(110%);
}
.addCard-primary-enter-active {
	transform: translateY(0%);
	transition: all 0.5s ease;
}
.addCard-primary-exit {
	position: absolute;
}
.addCard-primary-exit-active {
	transform: translateY(110%);
	transition: all 0.5s ease;
}

.addCardSecondary-primary-enter {
	transform: translateY(110%);
}
.addCardSecondary-primary-enter-active {
	transform: translateY(0%);
	transition: all 0.5s ease;
}
.addCardSecondary-primary-exit {
	position: absolute;
}
.addCardSecondary-primary-exit-active {
	transform: translateY(110%);
	transition: all 0.5s ease;
}
